<footer
  [ngClass]="{
    'footer-wrapper': true,
    'px-4': true,
    'py-3': true,
    fixed: isFixed
  }"
>
  <div class="row align-items-end gx-4 mb-1">
    <div class="col-md-4 p-2">
      <div class="quote-card p-3 rounded shadow-sm h-100 w-100 mb-2">
        <blockquote class="quote quote--in mb-2" *ngIf="quote" @quoteAnim>
          “{{ quote.content }}”
        </blockquote>
      </div>
    </div>

    <div class="copy col-12 col-md-4 text-center mt-3 mt-md-0">
      © {{ currentYear }} • Tibor Rumi
    </div>

    <div
      class="about-me-wrapper col-md-4 d-flex align-items-center justify-content-between pe-3"
    >
      <h4 class="about-label m-0">About&nbsp;Me</h4>
      <div class="speech-bubble">
        <p class="mb-1">
          Front-end artisan obsessed with pixel-perfect interfaces. Angular &
          TypeScript enthusiast, always chasing smooth UX. Coffee-powered,
          version-control geek, eternal learner.
        </p>
      </div>
    </div>
  </div>
</footer>
